<div class="container">
  <div class="text-center position-relative">
    <h3 class="m-3">User Table</h3>
    <div class="position-absolute" style="right: 0; top:0;">
      <button class="btn btn-primary me-5" (click)="openModal(template, 0,'Add','Add User')">+</button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">S No</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @for(item of usersList; track $index ){
      <tr>
        <th scope="row" style="width: 100px;">
          {{ $index + 1 }}
        </th>
        <th style="width: 100px;">
          <img [src]="item.avatar" onerror="'this.src=..src/assets/avatar.png'" style="width: 10%; border-radius: 50%;">
        </th>

        <td style="width: 100px;">{{ item.name }}</td>
        <td style="width: 100px;">{{ item.role }}</td>
        <td style="width: 100px;">{{ item.email }}</td>
        <td style="width: 100px;">
          <button class="btn btn-warning" type="button"
            (click)="openModal(template,item.id,'Edit','Edit User')">Edit</button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{heading}}</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div>
          <label>Name:</label>
          <input class="form-control mb-2" type="text" name="name" [(ngModel)]="formData.name">
        </div>
        <div>
          <label>Email:</label>
          <input class="form-control mb-2" type="email" name="email" [(ngModel)]="formData.email">
        </div>
        <div>
          <label>Password:</label>
          <input class="form-control mb-2" type="password" name="password" [(ngModel)]="formData.password">
        </div>
        <div>
          <label>Avatar:</label>
          <input class="form-control mb-2" type="text" name="avatar" [(ngModel)]="formData.avatar">
        </div>
        <div class="text-center">
          <button class="btn btn-primary mt-2" type="button " (click)="submitForm()">{{btnStatus}}</button>
        </div>
      </form>

    </div>
  </ng-template>

  <!-- 
  <div class="d-flex flex-wrap justify-content-center">
    @for (item of productList; track $index) {
    <div class="card  mx-2 my-2" style="width: 18rem;">
      <img [src]="item.images[0]" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"
          style="overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; line-clamp: 1; display: -webkit-box; -webkit-box-orient: vertical;">
          {{item.title}}</h5>
        <p class="card-text">Rs. {{item.price}}</p>
        <button class="btn btn-sm btn-warning me-3">Edit</button>
        <button class="btn btn-sm btn-danger" (click)="deleteProduct(item.id)">Delete</button>
      </div>
    </div>
    }
  </div> -->
</div>